<!DOCTYPE html>

<!--
  Google HTML5 slide template

  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)
           
           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/
-->

<html>
  <head>
    <title>Google Analytics Hacks</title>

    <meta charset='utf-8'>
    <script src='../gahacks.js'></script>
    <script src='../slides.js'></script>
    <script src='../jquery.js'></script>
    <script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-15588855-5']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
    </script>
    <style>  
      button {
        background: url(../images/btn_stretch.png) repeat-x left top green;
        font-family: 'Open Sans', Arial, sans-serif;
        text-align: center;
        font-size: 0.9em;
        height: 44px;
        width: 150px;
        color: white;
      }    
    </style>
  </head>

  <body style='display: none'>

    <section class='slides layout-regular template-intercon'>
      
      <article class='biglogo'>
          <img src="../images/cp_logo.png" width="300px" />
          <br>
          <img src="../images/dpc_logo.gif" />
          <br>
          <img src="../images/icherry_logo.jpeg" width="180px" />
      </article>

      <article>
        <h1>
          Google Analytics Hacks
        </h1>
        <p>
          Eduardo Cereto
          <br>
          Fábio Serra
          <br>
          Luiz Yamada
          <br>
          <br>
          22 de Outubro de 2011
        </p>
      </article>


	  <!-- AJAX Tracking - Eduardo Cereto -->

      <article>
        <h2>AJAX Tracking</h2>
      </article> 
      
      <article>
        <h3>AJAX Tracking</h3>
        <p>O problema dos sites em AJAX. <b>Um único pageview</b>.</p>
        <p>
          Toda a navegação é feita por AJAX e carrega apenas um trecho de
          código.
        </p>
        <pre id="ajax_1">
var jqxhr = jQuery.ajax('./ajax_content.html');
jqxhr.success(function(data) {
  //Handle data
  alert(data);
});
        </pre>
        <button onClick="button_run('ajax_1')">Run</button>
      </article>

      <article>
        <h3>A solução mais óbvia</h3>
        <p>Chamar um callback que dispara o pageview <b>TODAS AS VEZES</b> que
        fizer uma chamada em AJAX.</p>
        <pre id="ajax_2">
var jqxhr = jQuery.ajax('./ajax_content.html');
jqxhr.success(function(data){
  _gaq.push(['_trackPageview', '/ajax_content.html']);
});
jqxhr.success(function(data) {
  //Handle data
  alert(data);
});
        </pre>
        <button onClick="button_run('ajax_2')">Run</button>
      </article>

      <article>
        <h3>Função de Ajax customizada</h3>
        <p>Criar uma função customizada de AJAX para logar as chamadas de AJAX
        </p>
        <pre id="ajax_3">
function gaAjax (url, settings){
  var jx = jQuery.ajax(url, settings);
  jx.success(function(){
    _gaq.push(['_trackPageview', url]);
  });
  return jx;
}
var jqxhr = gaAjax('./ajax_content.html');
jqxhr.success(function(data) {
  //Handle data
  alert(data);
});
        </pre>
        <button onClick="button_run('ajax_3')">Run</button>
      </article>

      <article>
        <h3>A jQuery simplifica</h3>
        <p>A JQuery já oferece um callback global para qualquer chamada em AJAX.</p>
        <pre id="ajax_4">
jQuery(document).ajaxSuccess(function(e, xhr, settings){
  _gaq.push(['_trackPageview', settings.url]);
});
var jqxhr = jQuery.ajax('./ajax_content.html');
jqxhr.success(function(data) {
  //Handle data
  alert(data);
});
        </pre>
        <button onClick="button_run('ajax_4')">Run</button>
      </article>


 	  <!-- Error Tracking - Fabio Serra  -->
 	  
	<script type='text/javascript'>
		function _trackJsError(exception) { // http://jsfiddle.net/phms/D7GPs/
			exception = exception || {};
			if (typeof(_gaq) === "object") {
				_gaq.push(['_trackEvent', 'JS Exception ' + (exception.name || 'Error'), (exception.message || exception), document.location.href ]);
			}
			//debug 
			alert('JS Exception ' + (exception.name || 'Error') + "\n\nMessage: " + (exception.message || exception || '(message empty)')  + "\n\nURL: " + document.location.href);
		}
		
		function start_window_onerror() { // funcao de apoio
			window.onerror = function(message, url, line) { // http://jsfiddle.net/phms/GAyrK/
				if (typeof(_gaq) === "object") {
					_gaq.push(["_trackEvent",
						"JS Exception Error",
						message,
						(url + " (" + line + ")") ]);
				}
				//debug
				alert("JS Exception Error\n\nMessage: " + message + "\n\nURL: " + url + "\n\nLine: " + line);
		
				return true;
			};
		}
		function stop_window_onerror() { // funcao de apoio
			window.onerror = none;
		}
	</script>

      <article>
        <h2>Javascript Error Tracking</h2>
      </article>

      <article>
      <h3>Javascript Error Tracking</h3>
		<p>Problema de códigos client-side, mesmos com todos os testes <b>nem tudo pode ser validado</b>.
		
		<ul>
          <li>
            Todos os navegadores e suas infinidades de versões
          </li>
          <li>
            Diversos dispositivos, como celulares e tablets
          </li>
          <li>
            Velocidade da conexão e impactos nos timeouts
          </li>
          <li>
            Regras de firewall ou proxy
          </li>
        </ul>
        
        <p>&nbsp;</p>
        
        <div>
        	<p>Seria ótimo uma forma de acompanhar os erros de Javascript da mesma forma que analiso 
        	um log de erros do Apache...</p>
		</div>
	</article>
      
     <article class='smaller'>
        <h3>A solução mais óbvia</h3>
        <p>Compatível com todos os navegadores</p>
       
       <pre>
function _trackJsError(exception) {
    exception = exception || {};
    if (typeof(_gaq) === "object") {
        _gaq.push(['_trackEvent',
             'JS Exception ' + (exception.name || 'Error'),
             (exception.message || exception), 
             document.location.href ]);
    }
    //debug 
    alert('JS Exception ' + (exception.name || 'Error') + 
    	"\n\nMessage: " + (exception.message || exception || '(message empty)') +
    	"\n\nURL: " + document.location.href);
}</pre>
       
        <pre id="error_1">
try {
    var i = 1/new_variable; // Error!
}
catch (e) { _trackJsError(e); }</pre>
        <button onClick="button_run('error_1')">Run</button>
      </article>


     <article class='smaller'>
        <h3>Solução Global</h3>
        <p>Compatível com todos os navegadores (exceto Opera)</p>
       
       <pre>
window.onerror = function(message, url, line) {
    if (typeof(_gaq) === "object") {
        _gaq.push(["_trackEvent",
            "JS Exception Error",
            message,
            (url + " (" + line + ")") ]);
    }
    //debug
    alert("JS Exception Error \n\nMessage: " + message + 
    	"\n\nURL: " + url + "\n\nLine: " + line);
    
    return true;
};</pre>
       
        <pre id="error_2">
var i = 1/new_variable; // Error!</pre>
        <button onClick="start_window_onerror();button_run('error_2');stop_window_onerror();">Run</button>
      </article>
      
      
     <article class='smaller'>
        <h3>Solução Global com addEventListener</h3>
        <p>Compatível apenas com Webkit e parcialmente com Firefox e IE</p>
        <pre>
        
_addEventListener(window, "error", _trackWindowJsError, false);
 
</pre>
        <p>Para o código completo: <a href="http://jsfiddle.net/phms/nWdzR/">http://jsfiddle.net/phms/nWdzR/</a></p>

        <hr>
        <p>&nbsp;</p>       
        
        <p>Compatível apenas com Webkit e parcialmente com Firefox</p>
        <pre>
        
jQuery(window).error(_trackWindowJsError);
 
</pre>
        <p>Para o código completo: <a href="http://jsfiddle.net/phms/tuQdd/">http://jsfiddle.net/phms/tuQdd/</a></p>
      </article>


 	  <!-- Facebook Tracking - Luiz Yamada  -->

      <article>
        <h2>Traffic Source on Facebook Fan Page</h2>
      </article>

      <article>
		<h1>
			O problema:
		</h1>
        <h2>
			Mensurar as fontes de tráfego de campanhas que levam o usuário para uma fanpage no Facebook
        </h2>
      </article>
	  <article>
	  <h3>Traffic Source on Facebook Fan Page</h3>
	  <div class="build">
            <img style='position:absolute;top:100px;left:30px' src='images/ly-facebook-screen.png'>
            <img style='position:absolute;top:100px;left:30px' src='images/ly-iframe-box.png'>
			<img style='position:absolute;top:100px;left:30px' src='images/ly-iframe-path.png'>
			<img style='position:absolute;top:100px;left:30px' src='images/ly-iframe-traffic-source.png'>
       </div>
	  </article>

	  <article>
		<h3>Traffic Source on Facebook Fan Page</h3>
        <h1>
			Solução:
		</h1>
        <h2>
		Mensurar as fontes de tráfego de campanhas que levam o usuário para uma fanpage no Facebook
        </h2>

	  </article>
	  <article>
		<h3>Traffic Source on Facebook Fan Page</h3>
		<div class="build">
            <img style='position:absolute;top:100px;left:30px' src='images/ly-sl-1.png'>
            <img style='position:absolute;top:100px;left:30px' src='images/ly-sl-2.png'>
			<img style='position:absolute;top:100px;left:30px' src='images/ly-sl-3.png'>
			<img style='position:absolute;top:100px;left:30px' src='images/ly-sl-4.png'>
			<img style='position:absolute;top:100px;left:30px' src='images/ly-sl-5.png'>
		</div>
	  </article>
	  <article>
		<h3>URL Intermediária (Exemplo em PHP)</h3>
		<ul>
			<li>Incluir o arquivo phpga.php (disponibilizado no github)</li>
			<li>Executar a classe PHP
			<pre>
&lt;?php $ga_params = array();
$ga = new GoogleAnlayticsMobile("UA-XXXXXXXX-X", ".domain.com", 
NULL, $ga_params); 
?&gt;
&lt;?=$ga->GetTrackingCode()?&gt;</pre></li>
			<li>Realizar o redirecionamento para a fan page
			<pre>
&lt;?php
header("Location: https://www.facebook.com/pages/intercon/123?sk=app_123"); 
?&gt;</pre></li>
		</ul>
	  </div>
	  </article>
	  <article>
		<h3>Tag do Google Analytics dentro do iFrame</h3>
		<p>&nbsp;</p>
		<p>Configurar a tag do Google Analytics para ignorar o endereço do proxy do Facebook como referral</p>
		<pre>
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
_gaq.push(['_addIgnoredRef', 'static.ak.facebook.com']);
_gaq.push(['_setDomainName', '.domain.com']);
_gaq.push(['_trackPageview']);
		</pre>
	  </article>
	  <article>
		<h3>Compatibilidade com o IE</h3>
		<p>&nbsp;</p>
		<p><b>Problema:</b><br />
		Caso a privacidade do usuário do IE estiver configurado como médio ou maior que isso, o IE irá bloquear a manipulação de cookies em sites externos que são abertos dentro de um iFrame<br /><br /></p>
	  </article>
	  <article>
		<h3>Compatibilidade com o IE</h3>
		<p><b>Solução:</b><br />
		Enviar um header P3P na página do iFrame</p>
		<pre>&lt;?php header('P3P: CP="IE is often a NIGHTMARE"'); ?&gt;</pre>
		<p><b>Opcional:</b></p>
		<ul>
			<li><b>P3P reference file:</b> /w3c/p3p.xml</li>
			<li><b>Full P3P policy:</b> /w3c/full-P3P-policy.xml</li>
		</ul>
	  </article>
	  <article>
		<h3>Resultado</h3>
            <img style='position:absolute;top:100px;left:30px' src='images/ly-source.jpg'>
	  </article>
	<!-- End Facebook Tracking - Luiz Yamada -->
      <article>
        <h1>
          Perguntas?
        </h1>
        <p>
          @eduardocereto</br>
          @fabiophms</br>
          @luizyamada</br>
        </p>
        <p>
          <a style="font-size:46px;" href="http://bit.ly/GAHacks">http://bit.ly/GAHacks</a>
        </p>
      </article>

    </section>

  </body>
</html>
